@import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap");

body {
  display: flex;
  flex-direction: row;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: system-ui;
  overflow: hidden;
  line-height: 1.25rem;
}

a {
  color: inherit !important;
  text-decoration-color: rgb(255, 77, 77);
  text-decoration-thickness: 0.15em;
}

h5 {
  font-size: 1rem;
  margin: 1rem 0;
}

.red {
  color: rgb(255, 77, 77);
  font-family: "Doto", system-ui;
  font-weight: bolder;
}

#text {
  overflow: scroll;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
}

.title {
  padding-left: 1rem;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), inset 0 -1px 0 0 #dadce0;
  padding: 1rem;
  backdrop-filter: contrast(0.9);
}

.content {
  flex-grow: 1;
  overflow: scroll;
}

.item > p {
  display: none;
  padding: 0 1rem;
}

.item > h2 {
  cursor: pointer;
  box-shadow: inset 0 -1px 0 0 #dadce0;
  margin: 0;
  padding: 1rem;
}

.item i {
  margin-left: 0.5rem;
}

.item > h2:hover {
  box-shadow: 0.25rem 0.25rem rgb(255, 77, 77);
}

#map {
  flex-grow: 1;
}

.mapIcon {
  border: none;
  text-align: center;
}

.footer {
  margin: 0 auto;
  padding: 1rem;
  font-size: 1.5rem;
}

.rotate {
  transform: rotate(180deg);
  transition: transform 0.5s ease;
}

.leaflet-marker-icon.leaflet-div-icon.leaflet-zoom-animated.leaflet-interactive {
  background-color: transparent;
  border: none;
  text-align: center;
}

@media (max-width: 740px) {
  body {
    flex-direction: column;
  }
  #text {
    flex-basis: unset;
  }
}
